<div fxFlexFill fxLayout="column" fxLayoutAlign="start center">
  <header fxFlex="15" fxLayout="column" fxLayoutAlign="end center">
    Anima
  </header>
  <main
    fxFlexFill
    fxFlex="75"
    fxLayout="column"
    fxLayoutAlign="space-evenly center"
  >
    <nav *ngFor="let item of menu">
      <button>
        <h2>{{ item.cta }}</h2>
      </button>
    </nav>
  </main>
  <div fxFlex="9"></div>
  <footer fxFlexFill fxFlex="1" class="orange"></footer>
</div>

<button (click)="playNow()">Play</button>
