button {
  background-color: #2984a0;
  border-left: 30px #2984a0 solid;
  border-right: 30px #2984a0 solid;
  border-top: none;
  border-bottom: none;
  //  border-style: none;
  border-radius: 30px;
  white-space: nowrap;
}
