<h2>Tableau des scores</h2>
<main *ngIf="game$ | async as game">
  <h3>Partie</h3>
  <li>Ère: {{ game.eraCount }}</li>
  <li>Tours: {{ game.turnCount }}</li>
  <h3>Tour en cours</h3>
  <li>Joueur actif: {{ game.activePlayerId.slice(0, 4) }}</li>
  <li *ngIf="activeSpecies$ | async as activeSpecies">
    Traits espèce active:
    <span *ngFor="let ability of activeSpecies.abilities; let isLast = last"
      >{{ ability.fr.name }}{{ isLast ? "" : ", " }}</span
    >
  </li>
  <li>Actions restantes: {{ game.remainingActions }}</li>
  <li>
    Migration restantes:
    <span *ngIf="(activeSpeciesAbilityIds$ | async).includes('agility')">{{
      game.migrationCount + getAbilityValue("agility")
    }}</span>
    <span *ngIf="!(activeSpeciesAbilityIds$ | async).includes('agility')">{{
      game.migrationCount
    }}</span>
  </li>
  <h3>Joueurs</h3>
  <li *ngFor="let player of players$ | async">
    {{ player.id.slice(0, 4) }}: {{ player.score }}
  </li>
</main>
