<div class="sidebar" fxFlexFill fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex="55" class="container relative">
    <button mat-icon-button class="active absolute" (click)="openSpeciesList()">
      <mat-icon svgIcon="species-circle"></mat-icon>
    </button>
    <div
      class="small-text-box absolute"
      fxLayout="row"
      fxLayoutAlign="space-between"
    >
      <div fxFlex="35"></div>
      <div
        fxFlex="18"
        class="species"
        style="--img: url(/assets/menu-buttons/ability-1.png)"
      ></div>
      <div
        fxFlex="18"
        class="species"
        style="--img: url(/assets/menu-buttons/ability-2.png)"
      ></div>
      <div
        fxFlex="18"
        class="species"
        style="--img: url(/assets/menu-buttons/ability-3.png)"
      ></div>
      <div fxFlex="7" class="orange" fxLayout="column">
        <div fxFlex="20"></div>
        <div
          fxFlex="25"
          class="species"
          style="--img: url(/assets/menu-buttons/action.png)"
        ></div>
        <div fxFlex="10"></div>
        <div
          fxFlexOffset="10"
          fxFlex="25"
          class="species"
          style="--img: url(/assets/menu-buttons/action.png)"
        ></div>
      </div>
    </div>
  </div>
  <div fxFlex="18"></div>
  <div fxFlex="15">
    <button mat-icon-button class="score-button" (click)="openScore()">
      <mat-icon svgIcon="strategic-view"></mat-icon>
    </button>
  </div>
  <div fxFlex="1"></div>
  <div fxFlex="7">
    <button mat-icon-button class="menu-button" (click)="openSettings()">
      <mat-icon svgIcon="menu-button"></mat-icon>
    </button>
  </div>
</div>
