<div class="sidebar" fxFlexFill fxLayout="row" fxLayoutAlign="start center">
  <!---------------- SPECIES SECTION -------------->
  <div fxFlex="55" class="container relative">
    <!---------------- ACTIVE SPECIES ICON -------------->
    <button
      *ngIf="activeSpecies$ | async as activeSpecies"
      mat-icon-button
      class="species-button absolute"
      (click)="openSpeciesList()"
    >
      <mat-icon svgIcon="species-circle"></mat-icon>
      <mat-icon
        id="species-icon"
        [svgIcon]="
          activeSpecies.abilities.length > 0
            ? activeSpecies.abilities[0].id
            : 'question-mark'
        "
      ></mat-icon>
    </button>
    <!---------------- ACTIVE SPECIES ABILITIES -------------->
    <div
      class="small-text-box absolute"
      fxLayout="row"
      fxLayoutAlign="space-between"
    >
      <div fxFlex="30"></div>
      <div fxFlex="62">
        <div
          *ngFor="let ability of abilities$ | async"
          fxLayoutAlign="center center"
          fxFlexFill
          fxFlex="33"
          class="orange-icons ability"
        >
          <mat-icon [svgIcon]="ability.id + '-ability'"></mat-icon>
        </div>
      </div>
      <!---------------- REMAINING ACTIONS -------------->
      <div
        fxFlex="7"
        class="background-orange"
        fxLayout="column"
        [fxLayoutAlign]="
          (remainingActions$ | async).length > 1
            ? 'center center'
            : 'start center'
        "
      >
        <div
          fxFlexFill
          fxLayoutAlign="center end"
          *ngFor="let remainingActions of remainingActions$ | async"
          fxFlex="50"
        >
          <mat-icon svgIcon="action"></mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="10"></div>
  <!---------------- TURN BUTTON -------------->
  <div fxFlex="10">
    <button mat-icon-button class="turn-button" (click)="skipTurn()">
      <mat-icon svgIcon="hourglass-clean"></mat-icon>
    </button>
  </div>
  <div fxFlex="2"></div>
  <!---------------- SCORE BUTTON -------------->
  <div fxFlex="10">
    <button mat-icon-button class="score-button" (click)="openScore()">
      <mat-icon svgIcon="score-button"></mat-icon>
    </button>
  </div>
  <div fxFlex="5"></div>
  <!---------------- SETTINGS BUTTON -------------->
  <div fxFlex="10">
    <button mat-icon-button class="menu-button" (click)="openSettings()">
      <mat-icon svgIcon="menu-button"></mat-icon>
    </button>
  </div>
</div>
