.main {
  --s: 7.4vw; /* size of a hexagon */
  --m: 0.3vw; /* space between each heaxgon */
  --r: calc(var(--s) * 3 * 1.1547 / 2 + 4 * var(--m) - 2px);
  display: flex;
}

.container {
  font-size: 0; /*disable white space between inline block element */
}
.hex {
  width: var(--s);
  height: calc(var(--s) * 1.1547);
  margin: var(--m);
  display: inline-block;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
  transition: all 150ms ease-in-out;
}
.container::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 100%;
  shape-outside: repeating-linear-gradient(
    transparent 0 calc(var(--r) - 1px),
    #fff 0 var(--r)
  );
}

.species {
  background-image: var(--img);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.species-quantity {
  z-index: 1;
  font-size: 0.4rem;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
}

/* GRID 2 */
.grid2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.grid2 div {
  background-size: 33% !important;
}

.grid2 div:nth-child(1) {
  background-position: right 50% bottom 25%;
}
.grid2 div:nth-child(1) div {
  bottom: 20%;
}

.grid2 div:nth-child(2) {
  background-position: right 50% top 25%;
}
.grid2 div:nth-child(2) div {
  top: 15%;
}

/* GRID 3 */
.grid3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid3 div:nth-child(1) {
  background-position: right 25% bottom 25%;
}
.grid3 div:nth-child(1) div {
  right: 20%;
  bottom: 15%;
}

.grid3 div:nth-child(2) {
  background-position: left 25% bottom 25%;
}
.grid3 div:nth-child(2) div {
  left: 20%;
  bottom: 15%;
}

.grid3 div:nth-child(3) {
  grid-column: span 2;
  grid-row: 2;
  background-size: 25% !important;
  background-position: right 50% top 25%;
}
.grid3 div:nth-child(3) div {
  top: 15%;
}

/* GRID 4 */
.grid4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3vw, 1fr));
}

.grid4 div:nth-child(1) {
  background-position: right 25% bottom 25%;
}
.grid4 div:nth-child(1) div {
  right: 25%;
  bottom: 20%;
}

.grid4 div:nth-child(2) {
  background-position: left 25% bottom 25%;
}
.grid4 div:nth-child(2) div {
  left: 25%;
  bottom: 20%;
}

.grid4 div:nth-child(3) {
  background-position: right 25% top 25%;
}
.grid4 div:nth-child(3) div {
  right: 25%;
  top: 20%;
}

.grid4 div:nth-child(4) {
  background-position: left 25% top 25%;
}
.grid4 div:nth-child(4) div {
  left: 25%;
  top: 20%;
}

/*
.grid2 {
  display: grid;
  grid-template-areas:
    "a . c"
    "e g f"
    "d . b";
}
 */
.container > div:hover {
  background: #f58787;
  cursor: pointer;
}
.blank {
  background: #ffffff;
}
.blank:hover {
  background: #ffffff !important;
  cursor: auto !important;
}
.island {
  background: #d9e6f6;
}
.rockies {
  background: #fcefdd;
}
.mountains {
  background: #f9d1c3;
}
.forest {
  background: #d5e4e0;
}
.swamps {
  background: #eee0ef;
}
.plains {
  background: #f8ebcd;
}

.relative {
  position: relative;
}

.selected {
  filter: brightness(100%);
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

.reachable {
  z-index: 2;
  background-color: rgb(45, 45, 255, 0.5);
  cursor: pointer;
}
.reachable:hover {
  opacity: 0.5;
}

.absolute {
  position: absolute;
}

.score {
  z-index: 3;
}

#footer {
  bottom: 0;
  width: 100%;
  height: 80px;
}
