<header>
  <app-header fxFlexFill></app-header>
</header>

<div fxLayout="column" fxLayoutAlign="center center">
  <section class="start text-box">
    <h2>Sélectionnez votre<br />case de départ</h2>
  </section>
</div>

<pinch-zoom>
  <main>
    <!-- <mat-card class="score absolute">
    <mat-card-header
      ><mat-card-title>Tableau des scores</mat-card-title></mat-card-header
    >
    <mat-card-content *ngIf="game$ | async as game">
      <h3>Partie</h3>
      <li>Ère: {{ game.eraCount }}</li>
      <li>Tours: {{ game.turnCount }}</li>
      <h3>Tour en cours</h3>
      <li>Joueur actif: {{ game.activePlayerId.slice(0, 4) }}</li>
      <li *ngIf="activeSpecies$ | async as species">
        Traits espèce active:
        <span *ngFor="let abilityId of species.abilityIds; let isLast = last"
          >{{ getAbilityFrName(abilityId) }}{{ isLast ? "" : ", " }}</span
        >
      </li>
      <li>Actions restantes: {{ game.remainingActions }}</li>
      <li>
        Migration restantes:
        <span *ngIf="(activeSpecies$ | async).abilityIds.includes('agility')">{{
          game.migrationCount + getAbilityValue("agility")
        }}</span>
        <span
          *ngIf="!(activeSpecies$ | async).abilityIds.includes('agility')"
          >{{ game.migrationCount }}</span
        >
      </li>
      <h3>Joueurs</h3>
      <li *ngFor="let player of players$ | async">
        {{ player.id.slice(0, 4) }}: {{ player.score }}
      </li>
    </mat-card-content>
  </mat-card> -->
    <!------------ MAP -------------->
    <div class="no-font">
      <!------------ TILE -------------->
      <article
        *ngFor="let tile of tiles$ | async; let i = index"
        class="hex relative"
        [ngClass]="{
          blank: tile.type === 'blank',
          island: tile.type === 'island',
          mountains: tile.type === 'mountains',
          rockies: tile.type === 'rockies',
          plains: tile.type === 'plains',
          swamps: tile.type === 'swamps',
          forest: tile.type === 'forest',
          selected: isActive(tile.id),
          reachable: tile?.isReachable
        }"
        (click)="play(i)"
      >
        <!------------ TILE GRID -------------->
        <div
          fxFlexFill
          class="absolute"
          *ngIf="tile.species.length > 0"
          [ngClass]="{
            grid1: tile.species.length === 1,
            grid2: tile.species.length === 2,
            grid3: tile.species.length === 3,
            grid4: tile.species.length === 4,
            grid5: tile.species.length === 5,
            grid6: tile.species.length === 6,
            grid7: tile.species.length === 7
          }"
        >
          <!------------ SPECIES -------------->
          <div
            *ngFor="let species of tile.species; let i = index"
            class="tiles tile-container{{ i }}"
          >
            <div
              class="species tile{{ i }}"
              style="--img: url({{ getSpeciesImgUrl(species.id) }});"
            >
              <div class="species-quantity">
                {{ species.quantity }}
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </main>
</pinch-zoom>
<footer>
  <app-footer fxFlexFill></app-footer>
</footer>
