.main {
  --s: 7.4vw; /* size of a hexagon */
  --m: 0.3vw; /* space between each heaxgon */
  --r: calc(var(--s) * 3 * 1.1547 / 2 + 4 * var(--m) - 2px);
  display: flex;
}

.container {
  font-size: 0; /*disable white space between inline block element */
}
.container div {
  width: var(--s);
  height: calc(var(--s) * 1.1547);
  margin: var(--m);
  display: inline-block;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
  transition: all 150ms ease-in-out;
}
.container::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 100%;
  shape-outside: repeating-linear-gradient(
    transparent 0 calc(var(--r) - 1px),
    #fff 0 var(--r)
  );
}

.container > div:hover {
  background: #f58787;
  cursor: pointer;
}
.blank {
  background: #ffffff;
}
.blank:hover {
  background: #ffffff !important;
  cursor: auto !important;
}
.island {
  background: #d9e6f6;
}
.rockies {
  background: #fcefdd;
}
.mountains {
  background: #f9d1c3;
}
.forest {
  background: #d5e4e0;
}
.swamps {
  background: #eee0ef;
}
.plains {
  background: #f8ebcd;
}

.tile {
  position: relative;
}

.species {
  background-image: url("/assets/blob.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  z-index: 0;
}

.species-quantity {
  position: absolute;

  z-index: 1;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
}

.selected {
  filter: brightness(100%);
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

.reachable {
  z-index: 2;
  background-color: rgb(45, 45, 255, 0.5);
  cursor: pointer;
}
.reachable:hover {
  opacity: 0.5;
}

.absolute {
  position: absolute;
}
