<!------------ HEADER -------------->
<header *ngIf="!(isAnimationPlaying$ | async) && !(isGameFinished$ | async)">
  <app-header fxFlexFill></app-header>
</header>

<!------------ TEXT HEADER -------------->
<app-text-overlay></app-text-overlay>

<!------------ MAP -------------->
<pinch-zoom [double-tap]="false" disableZoomControl="disable">
  <main>
    <div class="no-font">
      <!------------ TILE -------------->
      <article
        *ngFor="let tile of tiles$ | async; let i = index"
        class="hex relative"
        [ngClass]="{
          blank: tile.type === 'blank',
          islands: tile.type === 'islands',
          mountains: tile.type === 'mountains',
          rockies: tile.type === 'rockies',
          plains: tile.type === 'plains',
          swamps: tile.type === 'swamps',
          forests: tile.type === 'forests',
          selected: isActive(tile.id),
          reachable: tile?.isReachable,
          attackable: tile?.isAttackable,
          proliferable: tile?.isProliferable,
          rallyable: tile?.isRallyable
        }"
        (click)="play(i)"
      >
        <!------------ INTERNAL TILE GRID FOR SPECIES -------------->
        <div
          fxFlexFill
          class="absolute"
          *ngIf="tile.species.length > 0"
          [ngClass]="{
            grid1: tile.species.length === 1,
            grid2: tile.species.length === 2,
            grid3: tile.species.length === 3,
            grid4: tile.species.length === 4,
            grid5: tile.species.length === 5,
            grid6: tile.species.length === 6,
            grid7: tile.species.length === 7
          }"
        >
          <!------------ SPECIES -------------->
          <div
            *ngFor="let species of tile.species; let i = index"
            class="tile-container{{ i }}"
          >
            <div
              class="species tile{{ i }}"
              style="--color: {{ species.colors.primary }}"
            >
              <mat-icon
                fxFlexFill
                [svgIcon]="species.mainAbilityId + '-ability'"
              ></mat-icon>
              <div class="species-quantity">
                {{ species.quantity }}
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </main>
</pinch-zoom>

<!------------ FOOTER -------------->
<footer
  *ngIf="
    (hasActiveAbility$ | async) &&
    !(isAnimationPlaying$ | async) &&
    !(isGameFinished$ | async)
  "
  id="active-bar"
  style="--width-value: {{ 25 * (activeAbilityNumber$ | async) }}%"
>
  <app-active-bar></app-active-bar>
</footer>
<footer *ngIf="!(isAnimationPlaying$ | async) && !(isGameFinished$ | async)">
  <app-footer></app-footer>
</footer>
