<div class="main">
  <div class="container">
    <div
      *ngFor="let tile of tiles$ | async; let i = index"
      [ngClass]="{
        blank: tile.type === 'blank',
        island: tile.type === 'island',
        mountains: tile.type === 'mountains',
        rockies: tile.type === 'rockies',
        plains: tile.type === 'plains',
        swamps: tile.type === 'swamps',
        forest: tile.type === 'forest',
        selected: isActive(tile.id),
        reachable: tile?.isReachable
      }"
      class="tile"
      (click)="play(i)"
    >
      <div class="absolute" *ngIf="tile.species.length > 0">
        <div class="absolute" *ngFor="let species of tile.species">
          <div
            style="--img: url({{ getSpeciesImgUrl(species.id) }});"
            [ngClass]="{ species: tile.species.length > 0 }"
            *ngIf="species.quantity"
          >
            <div class="species-quantity">
              {{ species.quantity }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
