header {
  position: fixed;
  width: 100%;
  height: 16%;
  z-index: 2;
}

pinch-zoom {
  background-color: white !important;
  height: 100%;
  width: 100%;
}

main {
  --s: 7.4vw; /* size of a hexagon */
  --m: 0.3vw; /* space between each heaxgon */
  --r: calc(var(--s) * 3 * 1.1547 / 2 + 4 * var(--m) - 2px);
  --border: 2px;
  display: flex;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 16%;
}

#active-bar {
  top: 68%;
  width: var(--width-value);
}

.no-font {
  font-size: 0; /*disable white space between inline block element */
}

.hex {
  width: var(--s);
  height: calc(var(--s) * 1.1547);
  margin: var(--m);
  display: inline-block;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
  transition: all 150ms ease-in-out;
}

.no-font::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 100%;
  shape-outside: repeating-linear-gradient(
    transparent 0 calc(var(--r) - 1px),
    #fff 0 var(--r)
  );
}

.species {
  --ability-active-display: none;
  color: var(--color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.species-quantity {
  color: white;
  position: absolute;
  font-size: 0.25rem;
  padding-top: 3%;
  font-family: "Grandstander", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.selected {
  background: var(--anima-color) !important;
  animation: blinker 1.5s ease-in infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.7;
  }
}
// Adds a smaller tile so the bigger one acts as a border.
.selected:before {
  content: "";
  width: calc(var(--s) - var(--border));
  height: calc(var(--s) * 1.1547 - var(--border));
  margin: var(--m);
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: radial-gradient(
    circle,
    var(--color) 0%,
    var(--color) 30%,
    var(--anima-color) 100%
  ) !important;
  position: absolute;
}

.reachable,
.attackable,
.proliferable,
.rallyable {
  z-index: 2;
  cursor: pointer;
  background: var(--color) !important;
  background: radial-gradient(
    circle,
    var(--color) 0%,
    var(--color) 30%,
    var(--anima-color) 100%
  ) !important;
}
.reachable:hover,
.attackable:hover,
.proliferable:hover,
.rallyable:hover {
  opacity: 0.5;
}

.no-font > div:hover {
  background: var(--anima-color);
  cursor: pointer;
}

.blank {
  background: #ffffff;
}
.blank:hover {
  background: #ffffff !important;
  cursor: auto !important;
}
.islands {
  --color: #dddeee;
  background: var(--color);
}
.rockies {
  --color: #fee0b8;
  background: var(--color);
}
.mountains {
  --color: #fcdcd8;
  background: var(--color);
}
.forests {
  --color: #b5e4f3;
  background: var(--color);
}
.swamps {
  --color: #dae8b6;
  background: var(--color);
}
.plains {
  --color: #fdeda9;
  background: var(--color);
}

/* GRID 1 */
.grid1 .species {
  width: 100%;
  height: 125%;
}
.grid1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid1 .tile-container0 {
  height: 50%;
  display: flex;
  align-items: center;
}

/* GRID 2 */
.grid2 .species {
  width: 100%;
  height: 105%;
}

.grid2 .tile-container0 {
  height: 50%;
  display: flex;
  flex-direction: column;
}
.grid2 .tile0 {
  padding-top: 2.5%;
}

.grid2 .tile-container1 {
  height: 50%;
  display: flex;
  flex-direction: column-reverse;
}
.grid2 .tile1 {
  padding-bottom: 2.5%;
}

/* GRID 3 */

.grid3 {
  display: flex;
  flex-wrap: wrap;
}
.grid3 .species {
  width: 110%;
  height: 120%;
}

.grid3 .tile-container0 {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid3 .tile0 {
  width: 50% !important;
}
.grid3 .tile0 .mat-icon {
  height: 110% !important;
  min-height: 110% !important;
  min-width: 110% !important;
  width: 110% !important;
}

.grid3 .tile-container1,
.grid3 .tile-container2 {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
}
.grid3 .tile1,
.grid3 .tile2 {
  padding-bottom: 30%;
}

/* GRID 4 */
.grid4 {
  display: flex;
  flex-wrap: wrap;
}
.grid4 .mat-icon {
  height: 110% !important;
  min-height: 110% !important;
  min-width: 110% !important;
  width: 110% !important;
}
.grid4 .species {
  width: 110%;
  height: 120%;
}

.grid4 .tile-container0,
.grid4 .tile-container3 {
  height: 33%;
  width: 100%;
  display: flex;
  align-items: center;
}
.grid4 .tile0,
.grid4 .tile3 {
  width: 50% !important;
}
.grid4 .tile-container0 {
  flex-direction: column;
}
.grid4 .tile0 {
  padding-top: 5%;
}
.grid4 .tile-container3 {
  flex-direction: column-reverse;
}
.grid4 .tile3 {
  padding-bottom: 5%;
}

.grid4 .tile-container1,
.grid4 .tile-container2 {
  height: 33%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.grid4 .tile-container1 {
  align-items: flex-end;
}
.grid4 .tile-container2 {
  align-items: flex-start;
}

/* GRID 5 */
.grid5 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.grid5 .mat-icon {
  height: 140% !important;
  min-height: 140% !important;
  min-width: 140% !important;
  width: 140% !important;
}
.grid5 .species {
  width: 100%;
  height: 100%;
}

.grid5 .tile-container2 {
  height: 100%;
  width: 33%;
  display: flex;
  align-items: center;
}

.grid5 .tile-container0,
.grid5 .tile-container1,
.grid5 .tile-container3,
.grid5 .tile-container4 {
  height: 50%;
  width: 33%;
  display: flex;
}
.grid5 .tile-container0,
.grid5 .tile-container3 {
  align-items: flex-start;
}
.grid5 .tile0,
.grid5 .tile3 {
  padding-top: 20%;
}

.grid5 .tile-container1,
.grid5 .tile-container4 {
  align-items: flex-end;
}
.grid5 .tile1,
.grid5 .tile4 {
  padding-bottom: 20%;
}

.grid5 .tile0,
.grid5 .tile1 {
  padding-left: 20%;
}

.grid5 .tile3,
.grid5 .tile4 {
  padding-right: 20%;
}

.grid5 .species-quantity {
  font-size: 0.2rem;
  padding-top: 1.5%;
}
