<main
  fxLayout="column"
  fxLayoutAlign="center center"
  *ngIf="{
    isGameStarting: isGameStarting$ | async,
    startStage: startStage$ | async,
    hasTileActive: hasTileActive$ | async,
    isPlayerWaiting: isPlayerWaiting$ | async,
    isActivePlayerPlaying: isActivePlayerPlaying$ | async
  } as observables"
>
  <!------------ GAME START -------------->
  <article
    *ngIf="observables.isPlayerWaiting"
    class="top banner text-box animated"
  >
    <h2>En attente de l'adversaire...</h2>
  </article>
  <article
    *ngIf="
      observables.startStage === 'tileChoice' && !observables.isPlayerWaiting
    "
    class="top banner text-box"
  >
    <h2>Sélectionnez votre case <br />de départ</h2>
  </article>
  <article
    *ngIf="
      observables.hasTileActive &&
      observables.startStage === 'tileChoice' &&
      !observables.isPlayerWaiting
    "
    class="top banner text-box"
  >
    <h2>Choisir cette case ?</h2>
    <button
      mat-icon-button
      class="validation-buttons"
      id="validate"
      (click)="validateStartTile()"
    >
      <mat-icon svgIcon="validate"></mat-icon>
    </button>
    <button
      mat-icon-button
      class="validation-buttons"
      id="cancel"
      (click)="cancelStartTileChoice()"
    >
      <mat-icon svgIcon="close"></mat-icon>
    </button>
  </article>
  <!------------ MULTI STEP ACTIONS -------------->
  <article
    *ngIf="isActionActive$('migration') | async"
    class="top banner text-box"
  >
    <h2>Choisissez une case <br />vers laquelle migrer</h2>
  </article>
  <article
    *ngIf="isActionActive$('proliferation') | async"
    class="top banner text-box"
  >
    <h2>Choisissez une case <br />sur laquelle proliférer</h2>
  </article>
  <article
    *ngIf="isActionActive$('assimilation') | async"
    class="top banner text-box"
  >
    <h2>Choisissez une case <br />à assimiler</h2>
  </article>
  <article
    *ngIf="isActionActive$('rallying') | async"
    class="top banner text-box"
  >
    <h2>Choisissez une case <br />à rallier</h2>
  </article>
  <!------------ OTHER PLAYER PLAYING -------------->
  <article
    *ngIf="!observables.isActivePlayerPlaying && !observables.isGameStarting"
    class="top banner text-box"
  >
    <h2>Au tour <br />du joueur adverse...</h2>
  </article>
</main>

<article
  fxFlexFill
  *ngIf="!(isGameStarting$ | async) && isActivePlayerPlaying$ | async"
  class="animated visual-overlay"
>
  <section fxFlexFill class="opacity"></section>
  <section
    fxFlexFill
    fxLayout="column"
    fxLayoutAlign="center center"
    class="absolute"
  >
    <section
      class="species relative"
      style="
          --primary-color: {{ getActiveSpeciesColors().primary }};
          --secondary-color: {{ getActiveSpeciesColors().secondary }}"
    >
      <mat-icon fxFlexFill svgIcon="hex"></mat-icon>
      <mat-icon
        id="species-icon"
        [svgIcon]="(activeSpecies$ | async).abilities[0].id"
      ></mat-icon>
    </section>
    <section class="banner text-box">
      <h2>C'est à vous !</h2>
    </section>
  </section>
</article>
