<main
  fxLayout="column"
  fxLayoutAlign="center center"
  *ngIf="{
    isGameStarting: isGameStarting$ | async,
    isGameFinished: isGameFinished$ | async,
    startStage: startStage$ | async,
    hasTileActive: hasTileActive$ | async,
    isPlayerWaiting: isPlayerWaiting$ | async,
    isActivePlayerPlaying: isActivePlayerPlaying$ | async,
    isAnimationPlaying: (activePlayer$ | async).isAnimationPlaying
  } as observables"
>
  <!------------ GAME START -------------->
  <article
    *ngIf="
      observables.startStage === 'tileChoice' && !observables.isPlayerWaiting
    "
    class="top banner text-box"
  >
    <h2>Sélectionnez votre case <br />de départ</h2>
  </article>
  <article
    *ngIf="
      observables.hasTileActive &&
      observables.startStage === 'tileChoice' &&
      !observables.isPlayerWaiting
    "
    class="top banner text-box"
  >
    <h2>Choisir cette case ?</h2>
    <button
      mat-icon-button
      class="validation-buttons"
      id="validate"
      (click)="validateStartTile()"
    >
      <mat-icon svgIcon="validate"></mat-icon>
    </button>
    <button
      mat-icon-button
      class="validation-buttons"
      id="cancel"
      (click)="cancelStartTileChoice()"
    >
      <mat-icon svgIcon="close-blur"></mat-icon>
    </button>
  </article>
  <!------------ MULTI STEP ACTIONS -------------->
  <article
    *ngIf="isActionActive$('migration') | async"
    class="top banner text-box"
  >
    <h2>Choisissez une case <br />vers laquelle migrer</h2>
  </article>
  <article
    *ngIf="isActionActive$('proliferation') | async"
    class="top banner text-box"
  >
    <h2>Choisissez une case <br />sur laquelle proliférer</h2>
  </article>
  <article
    *ngIf="isActionActive$('assimilation') | async"
    class="top banner text-box"
  >
    <h2>Choisissez une case <br />à assimiler</h2>
  </article>
  <article
    *ngIf="isActionActive$('rallying') | async"
    class="top banner text-box"
  >
    <h2>Choisissez une case <br />à rallier</h2>
  </article>
  <!------------ OTHER PLAYER PLAYING -------------->
</main>

<!------------ VISUAL OVERLAYS -------------->
<!------------ GAME START: WAITING OPPONENT ABILITY CHOICE -------------->
<article
  fxFlexFill
  *ngIf="
    (isGameStarting$ | async) &&
    (startStage$ | async) === 'abilityChoice' &&
    (isPlayerWaiting$ | async)
  "
  class="visual-overlay"
>
  <section fxFlexFill class="opacity"></section>
  <main
    fxFlexFill
    fxLayout="column"
    fxLayoutAlign="start center"
    class="absolute"
    *ngIf="activePlayer$ | async as activePlayer"
  >
    <section fxFlex="10"></section>
    <section
      fxFlex="30"
      class="species relative"
      style="
      --primary-color: {{
        activePlayer.species[activePlayer.species.length - 1].colors.primary
      }};
      --secondary-color: {{
        activePlayer.species[activePlayer.species.length - 1].colors.secondary
      }}"
    >
      <mat-icon fxFlexFill svgIcon="hex"></mat-icon>
      <mat-icon
        class="species-icon"
        id="species-title"
        [svgIcon]="
          activePlayer.species[activePlayer.species.length - 1].abilities[0].id
        "
      ></mat-icon>
    </section>
    <section fxFlex="5"></section>
    <section fxFlex="17.5">
      <mat-icon fxFlexFill svgIcon="hourglass"></mat-icon>
    </section>
    <section class="banner text-box">
      <h2>En attente de l'adversaire...</h2>
    </section>
  </main>
</article>

<!------------ GAME START: ABILITY CHOICES MADE -------------->
<article
  fxFlexFill
  *ngIf="(isGameStarting$ | async) && (startStage$ | async) === 'tileChoice'"
  class="fade-in-out visual-overlay"
  style="--animation-duration: 3s; --animation-delay: 0s"
>
  <section fxFlexFill class="full-opacity"></section>
  <main
    fxFlexFill
    fxLayout="column"
    fxLayoutAlign="start center"
    class="absolute"
  >
    <section fxFlex="10"></section>
    <div fxFlex="30" *ngIf="green$ | async as green">
      <section
        fxFlexFill
        class="species relative"
        style="
      --primary-color: {{
          green.species[green.species.length - 1].colors.primary
        }};
      --secondary-color: {{
          green.species[green.species.length - 1].colors.secondary
        }}"
      >
        <mat-icon fxFlexFill svgIcon="hex"></mat-icon>
        <mat-icon
          class="species-icon"
          id="species-title"
          [svgIcon]="green.species[green.species.length - 1].abilities[0].id"
        ></mat-icon>
      </section>
    </div>
    <section class="banner text-box">
      <h2 *ngIf="(activePlayer$ | async).speciesIds.length == 1">
        C'est parti !
      </h2>
      <h2 *ngIf="(activePlayer$ | async).speciesIds.length > 1">
        Nouvelles espèces !
      </h2>
    </section>

    <div fxFlex="30" *ngIf="red$ | async as red">
      <section
        fxFlexFill
        class="species relative"
        style="
        --primary-color: {{
          red.species[red.species.length - 1].colors.primary
        }};
      --secondary-color: {{
          red.species[red.species.length - 1].colors.secondary
        }}"
      >
        <mat-icon fxFlexFill svgIcon="hex"></mat-icon>
        <mat-icon
          class="species-icon"
          id="species-title"
          [svgIcon]="red.species[red.species.length - 1].abilities[0].id"
        ></mat-icon>
      </section>
    </div>
  </main>
</article>

<!------------ GAME START: WAITING OPPONENT TILE CHOICE -------------->
<article
  fxFlexFill
  *ngIf="
    (isGameStarting$ | async) &&
    (startStage$ | async) === 'tileChoice' &&
    (isPlayerWaiting$ | async)
  "
  class="visual-overlay"
>
  <section fxFlexFill class="low-opacity"></section>
  <main
    fxFlexFill
    fxLayout="column"
    fxLayoutAlign="start center"
    class="absolute"
  >
    <section fxFlex="39"></section>
    <section fxFlex="17.5">
      <mat-icon fxFlexFill svgIcon="hourglass"></mat-icon>
    </section>
    <section class="banner text-box">
      <h2>En attente de l'adversaire...</h2>
    </section>
  </main>
</article>

<!------------ UP TO YOU ! -------------->
<article
  fxFlexFill
  *ngIf="
    !(isGameStarting$ | async) &&
    (isActivePlayerPlaying$ | async) &&
    !(isAnimationPlaying$ | async) &&
    !(isGameFinished$ | async)
  "
  class="fade-in-out visual-overlay"
  style="--animation-duration: 2s; --animation-delay: 1s"
>
  <section fxFlexFill class="opacity"></section>
  <section
    fxFlexFill
    fxLayout="column"
    fxLayoutAlign="center center"
    class="absolute"
  >
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      *ngIf="activePlayer$ | async as activePlayer"
    >
      <div *ngIf="activePlayer.speciesIds.length > 1; else oneSpecies">
        <section fxFlex="7.5"></section>
        <section
          fxFlex="40"
          class="species relative"
          style="
            --primary-color: {{ activePlayer.species[0].colors.primary }};
            --secondary-color: {{ activePlayer.species[0].colors.secondary }};
          "
        >
          <mat-icon fxFlexFill svgIcon="hex"></mat-icon>
          <mat-icon
            class="species-icon"
            id="species-title"
            [svgIcon]="activePlayer.species[0].abilities[0].id"
          ></mat-icon>
        </section>
        <section fxFlex="5"></section>
        <section
          fxFlex="40"
          class="species relative"
          style="
            --primary-color: {{ activePlayer.species[1]?.colors.primary }};
            --secondary-color: {{ activePlayer.species[1]?.colors.secondary }};
          "
        >
          <mat-icon fxFlexFill svgIcon="hex"></mat-icon>
          <mat-icon
            class="species-icon"
            id="species-title"
            [svgIcon]="activePlayer.species[1]?.abilities[0]?.id"
          ></mat-icon>
        </section>
      </div>

      <ng-template #oneSpecies>
        <section
          fxFlexFill
          class="species relative"
          style="
            --primary-color: {{ activePlayer.species[0].colors.primary }};
            --secondary-color: {{ activePlayer.species[0].colors.secondary }};
          "
        >
          <mat-icon fxFlexFill svgIcon="hex"></mat-icon>
          <mat-icon
            class="species-icon"
            id="species-title"
            [svgIcon]="activePlayer.species[0].abilities[0].id"
          ></mat-icon>
        </section>
      </ng-template>
    </div>
    <section class="banner text-box">
      <h2>C'est à vous !</h2>
    </section>
  </section>
</article>

<!------------ OPPONENT'S TURN ! -------------->
<article
  fxFlexFill
  *ngIf="
    !(isGameStarting$ | async) &&
    !(isActivePlayerPlaying$ | async) &&
    !(isAnimationPlaying$ | async) &&
    !(isGameFinished$ | async)
  "
  class="fade-in-out visual-overlay"
  style="--animation-duration: 2s; --animation-delay: 1s"
>
  <section fxFlexFill class="opacity"></section>
  <section
    fxFlexFill
    fxLayout="column"
    fxLayoutAlign="center center"
    class="absolute"
  >
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      *ngIf="opponent$ | async as opponent"
    >
      <div *ngIf="opponent.speciesIds.length > 1; else oneSpecies">
        <section fxFlex="7.5"></section>
        <section
          fxFlex="40"
          class="species relative"
          style="
            --primary-color: {{ opponent.species[0].colors.primary }};
            --secondary-color: {{ opponent.species[0].colors.secondary }};
          "
        >
          <mat-icon fxFlexFill svgIcon="hex"></mat-icon>
          <mat-icon
            class="species-icon"
            id="species-title"
            [svgIcon]="opponent.species[0].abilities[0].id"
          ></mat-icon>
        </section>
        <section fxFlex="5"></section>
        <section
          fxFlex="40"
          class="species relative"
          style="
            --primary-color: {{ opponent.species[1]?.colors.primary }};
            --secondary-color: {{ opponent.species[1]?.colors.secondary }};
          "
        >
          <mat-icon fxFlexFill svgIcon="hex"></mat-icon>
          <mat-icon
            class="species-icon"
            id="species-title"
            [svgIcon]="opponent.species[1]?.abilities[0]?.id"
          ></mat-icon>
        </section>
      </div>

      <ng-template #oneSpecies>
        <section
          fxFlexFill
          class="species relative"
          style="
            --primary-color: {{ opponent.species[0].colors.primary }};
            --secondary-color: {{ opponent.species[0].colors.secondary }};
          "
        >
          <mat-icon fxFlexFill svgIcon="hex"></mat-icon>
          <mat-icon
            class="species-icon"
            id="species-title"
            [svgIcon]="opponent.species[0].abilities[0].id"
          ></mat-icon>
        </section>
      </ng-template>
    </div>
    <section class="banner text-box">
      <h2>Tour adverse</h2>
    </section>
  </section>
</article>

<!------------ REGION SCORE -------------->
<!------ A - END ERA TITLE ------>
<main
  *ngIf="
    (activePlayer$ | async).isAnimationPlaying &&
    (activePlayer$ | async).animationState === 'endEraTitle'
  "
  class="visual-overlay"
  fxFlexFill
>
  <section class="medium-opacity" fxFlexFill></section>
  <main
    class="absolute"
    fxFlexFill
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <article class="banner text-box">
      <h2 class="box-titles">Fin de l'ère !</h2>
    </article>
  </main>
  <aside fxFlexFill class="orange footer-position"></aside>
</main>
<!------ B - PLAYER NAME TITLE ------>
<main
  *ngIf="
    (activePlayer$ | async).isAnimationPlaying &&
    (activePlayer$ | async).animationState === 'playerNamesTitle'
  "
  class="visual-overlay"
  fxFlexFill
>
  <section class="medium-opacity" fxFlexFill></section>
  <main
    class="absolute"
    fxFlexFill
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <article *ngIf="green$ | async as green">
      <h2
        class="player-name"
        [ngStyle]="{
          color: greenColor
        }"
      >
        {{ green.name }}
      </h2>
    </article>
    <article class="banner text-box">
      <h2 class="box-titles">
        Décompte<br />
        des points !
      </h2>
    </article>
    <article *ngIf="red$ | async as red">
      <h2
        class="player-name"
        [ngStyle]="{
          color: redColor
        }"
      >
        {{ red.name }}
      </h2>
    </article>
  </main>
  <aside fxFlexFill class="orange footer-position"></aside>
</main>
<!------ C - REGION SCORE ------>
<main
  class="visual-overlay"
  fxFlexFill
  *ngIf="
    (activePlayer$ | async).isAnimationPlaying &&
    (activePlayer$ | async).animationState === 'regionScore'
  "
>
  <main fxFlexFill fxLayout="column" fxLayoutAlign="start center">
    <section
      fxFlex="16"
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="center center"
      *ngFor="let player$ of [green$, red$]; let i = index"
      [ngClass]="{
        'top-position': i === 0,
        'bottom-position': i === 1
      }"
    >
      <article
        *ngIf="player$ | async as player"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <h3
          class="player-name"
          [ngStyle]="{
            color: redColor
          }"
          *ngIf="i === 1"
        >
          {{ player.name }}
        </h3>
        <mat-icon
          svgIcon="anima-empty"
          class="anima-empty relative"
          fxLayoutAlign="center center"
        >
          <span
            *ngFor="let region of regions; first as isFirst; last as isLast"
            class="absolute region-score increase-fade-in"
            style="
            --color: {{ player.color === 'red' ? redColor : greenColor }};
            --fade-in-fill-mode: {{ isFirst ? 'forwards' : 'both' }};
            --counter-from: {{
              regionScoresAnimationVariables.playerVariables[player.id][
                region.name
              ].from
            }};
            --counter-to: {{
              regionScoresAnimationVariables.playerVariables[player.id][
                region.name
              ].to
            }};
            --animation-duration: {{
              regionScoresAnimationVariables.subTotalDuration
            }}s;
            --animation-delay: {{
              regionScoresAnimationVariables.playerVariables[player.id][
                region.name
              ].delay
            }}s;
            --fade-out-delay: {{
              isLast
                ? 1000000000
                : regionScoresAnimationVariables.subTotalDuration +
                  regionScoresAnimationVariables.playerVariables[player.id][
                    region.name
                  ].delay +
                  0.5
            }}s;
          "
            >+</span
          >
        </mat-icon>
        <h3
          class="player-name margin-top-10"
          [ngStyle]="{
            color: greenColor
          }"
          *ngIf="i === 0"
        >
          {{ player.name }}
        </h3>
      </article>
    </section>

    <main class="middle-position" fxFlex="63" fxFlexFill>
      <section
        class="absolute"
        fxFlexFill
        *ngFor="let player$ of [green$, red$]; let i = index"
      >
        <div class="relative" fxFlexFill *ngIf="player$ | async as player">
          <section
            class="region absolute"
            id="{{ region.name }}"
            *ngFor="let region of regions"
          >
            <article
              class="absolute"
              [ngClass]="{ 'bigger-up': i === 0, 'bigger-down': i === 1 }"
              style="
            --animation-duration: {{
                regionScoresAnimationVariables.regionDuration
              }}s;
            --animation-delay: {{
                regionScoresAnimationVariables.playerVariables[player.id][
                  region.name
                ].delay
              }}s;
        "
            >
              <h2 id="region-score">+{{ player.regionScores[region.name] }}</h2>
            </article>
          </section>
        </div>
      </section>
    </main>
    <aside fxFlex="2" fxFlexFill></aside>
    <aside fxFlexFill fxFlex="1" class="orange footer-position"></aside>
  </main>
</main>
<!------------ ERA SCORE -------------->
<article
  fxFlexFill
  *ngIf="
    (activePlayer$ | async).isAnimationPlaying &&
    (activePlayer$ | async).animationState === 'eraScore'
  "
  class="visual-overlay fade-in"
  style="--animation-duration: 1s; --animation-delay: 0s"
>
  <section
    fxFlexFill
    class="medium-opacity blank-out"
    style=" --animation-duration: {{
      eraScoresAnimationVariables.firstScreenTransition.duration
    }}s; --animation-delay: {{
      eraScoresAnimationVariables.firstScreenTransition.delay
    }}s"
  ></section>
  <ng-container *ngIf="green$ | async as green">
    <ng-container *ngIf="red$ | async as red">
      <main
        fxFlexFill
        fxLayout="column"
        fxLayoutAlign="start center"
        class="absolute"
      >
        <article
          fxFlexFill
          fxFlex="40"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <h2
            class="player-name margin-aside"
            [ngStyle]="{
              color: greenColor
            }"
          >
            {{ green.name }}
          </h2>
        </article>
        <article
          fxFlexFill
          fxFlex="19"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <mat-icon
            svgIcon="anima-empty"
            fxFlexAlign="start"
            class="anima-empty relative"
            fxLayoutAlign="center center"
          >
            <span
              class="absolute pop-in"
              style="--animation-duration: {{
                eraScoresAnimationVariables.playerVariables[green.id].eraScore
                  .duration
              }}s; --animation-delay: {{
                eraScoresAnimationVariables.playerVariables[green.id].eraScore
                  .delay
              }}s"
              [ngStyle]="{
                color: greenColor
              }"
              >+{{ green.regionScores.totalEra }}</span
            >
          </mat-icon>
          <section
            class="orange-border"
            fxFlexFill
            fxFlex="45"
            fxLayout="row"
            fxLayoutAlign="center center"
          >
            <h2
              class="score increase no-margin"
              style="
            --counter-from: {{ green.score - green.regionScores.totalEra }};
            --counter-to: {{ green.score }};
            --animation-duration: {{
                eraScoresAnimationVariables.playerVariables[green.id]
                  .playerTotal.duration
              }}s; --animation-delay: {{
                eraScoresAnimationVariables.playerVariables[green.id]
                  .playerTotal.delay
              }}s
          "
              [ngStyle]="{
                color: greenColor
              }"
            ></h2>
            <h3 class="no-margin" id="score-line">-</h3>
            <h2
              class="score increase no-margin"
              style="
            --counter-from: {{ red.score - red.regionScores.totalEra }};
            --counter-to: {{ red.score }};
            --animation-duration: {{
                eraScoresAnimationVariables.playerVariables[red.id]?.playerTotal
                  ?.duration
              }}s; --animation-delay: {{
                eraScoresAnimationVariables.playerVariables[red.id]?.playerTotal
                  ?.delay
              }}s
          "
              [ngStyle]="{
                color: redColor
              }"
            ></h2>
          </section>
          <mat-icon
            svgIcon="anima-empty"
            fxFlexAlign="start"
            class="anima-empty relative"
            fxLayoutAlign="center center"
          >
            <span
              class="pop-in absolute"
              style="--animation-duration: {{
                eraScoresAnimationVariables.playerVariables[red.id].eraScore
                  .duration
              }}s; --animation-delay: {{
                eraScoresAnimationVariables.playerVariables[red.id].eraScore
                  .delay
              }}s"
              [ngStyle]="{
                color: redColor
              }"
              >+{{ red.regionScores.totalEra }}</span
            >
          </mat-icon>
        </article>
        <article
          fxFlexFill
          fxFlex="40"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <h2
            class="player-name margin-aside"
            [ngStyle]="{
              color: redColor
            }"
          >
            {{ red.name }}
          </h2>
        </article>
        <aside fxFlexFill fxFlex="1" class="orange"></aside>
      </main>
    </ng-container>
  </ng-container>
</article>

<!------------ VICTORY -------------->
<article
  fxFlexFill
  *ngIf="(activePlayer$ | async).animationState === 'victory'"
  class="visual-overlay"
>
  <section *ngIf="scoreToggle" fxFlexFill class="full-opacity"></section>
  <ng-container *ngIf="winner$ | async as winner">
    <ng-container *ngIf="loser$ | async as loser">
      <main
        *ngIf="scoreToggle; else map"
        fxFlexFill
        fxLayout="column"
        fxLayoutAlign="start center"
        class="absolute"
      >
        <article fxFlexFill fxFlex="10"></article>
        <article
          fxFlexFill
          fxFlex="10"
          class="center victory"
          [ngClass]="{
            'cling-slide-down': (activePlayer$ | async).isAnimationPlaying
          }"
          style="
        --animation-duration: {{
            victoryAnimationVariables.victoryTitle.duration
          }}s;
        --animation-delay: {{ victoryAnimationVariables.victoryTitle.delay }}s"
        >
          <h1>VICTOIRE</h1>
        </article>
        <article
          fxFlexFill
          fxFlex="10"
          fxLayout="row"
          fxLayoutAlign="center center"
          [ngClass]="{
            'name-slide-down': (activePlayer$ | async).isAnimationPlaying
          }"
          style="
        --animation-duration: {{
            victoryAnimationVariables.winnerTitle.duration
          }}s;
        --animation-delay: {{ victoryAnimationVariables.winnerTitle.delay }}s"
        >
          <mat-icon
            svgIcon="star"
            class="star rotate-right"
            style="--animation-delay: {{
              !(activePlayer$ | async).isAnimationPlaying
                ? 0
                : victoryAnimationVariables.winnerStars.delay
            }}s"
          ></mat-icon>
          <h2
            class="player-name margin-aside"
            [ngStyle]="{
              color: winner.color === 'red' ? redColor : greenColor
            }"
          >
            {{ winner.name }}
          </h2>
          <mat-icon
            svgIcon="star"
            class="star rotate-left"
            style="--animation-delay: {{
              !(activePlayer$ | async).isAnimationPlaying
                ? 0
                : victoryAnimationVariables.winnerStars.delay
            }}s"
          ></mat-icon>
        </article>
        <article
          fxFlexFill
          fxFlex="20"
          fxLayoutAlign="center end"
          [ngClass]="{
            'fade-in': (activePlayer$ | async).isAnimationPlaying
          }"
          style="
        --animation-duration: {{
            victoryAnimationVariables.victoryDetails.duration
          }}s;
        --animation-delay: {{
            victoryAnimationVariables.victoryDetails.delay
          }}s"
        >
          <mat-icon
            svgIcon="anima-blur"
            class="anima relative"
            fxLayoutAlign="center center"
            ><span class="absolute victory-score">{{
              winner.score
            }}</span></mat-icon
          >
        </article>
        <article
          class="player-species"
          [ngClass]="{
            'fade-in': (activePlayer$ | async).isAnimationPlaying
          }"
          fxFlexFill
          fxFlex="20"
          fxLayout="row"
          style="
        --animation-duration: {{
            victoryAnimationVariables.victoryDetails.duration
          }}s;
        --animation-delay: {{
            victoryAnimationVariables.victoryDetails.delay
          }}s"
        >
          <div
            *ngFor="let species of winner.species"
            class="species relative small-margin-aside"
            id="winnerSpecies"
            style="
          --primary-color: {{ species.colors.primary }};
          --secondary-color: {{ species.colors.secondary }}"
          >
            <mat-icon fxFlexFill svgIcon="hex"></mat-icon>
            <mat-icon
              class="species-icon"
              id="species-title"
              [svgIcon]="species.abilities[0].id"
            ></mat-icon>
          </div>
        </article>
        <article
          fxFlexFill
          fxFlex="10"
          fxLayoutAlign="center end"
          [ngClass]="{
            'fade-in': (activePlayer$ | async).isAnimationPlaying
          }"
          id="no-margin"
          style="
        --animation-duration: {{
            victoryAnimationVariables.victoryDetails.duration
          }}s;
        --animation-delay: {{
            victoryAnimationVariables.victoryDetails.delay
          }}s"
        >
          <h2
            class="player-name no-margin"
            [ngStyle]="{ color: loser.color === 'red' ? redColor : greenColor }"
          >
            {{ loser.name }}
          </h2>
          <h3 class="no-margin" id="line">-</h3>
          <h2
            class="player-name no-margin"
            [ngStyle]="{ color: loser.color === 'red' ? redColor : greenColor }"
          >
            {{ loser.score }}
          </h2>
        </article>
        <aside fxFlexFill fxFlex="4"></aside>
        <footer
          fxFlexFill
          fxFlex="16"
          fxLayout="row"
          fxLayoutAlign="space-around center"
          [ngClass]="{
            'fade-in': (activePlayer$ | async).isAnimationPlaying
          }"
          style="
        --animation-duration: {{
            victoryAnimationVariables.victoryDetails.duration
          }}s;
        --animation-delay: {{
            victoryAnimationVariables.victoryDetails.delay
          }}s"
        >
          <button class="nav-button" (click)="toggleScoreToggle()">
            <h2>Voir la carte</h2>
          </button>
          <button class="nav-button" (click)="leave()">
            <h2>Quitter</h2>
          </button>
        </footer>
        <aside fxFlexFill fxFlex="1" class="orange"></aside></main
    ></ng-container>
  </ng-container>

  <ng-template #map>
    <main fxFlexFill fxLayout="column" fxLayoutAlign="space-around center">
      <header
        class="grey"
        fxFlexFill
        fxFlex="16"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <button class="baby" mat-icon-button (click)="openSpeciesList()">
          <mat-icon svgIcon="baby"></mat-icon>
        </button>
      </header>
      <aside class="click-through" fxFlexFill fxFlex="67"></aside>
      <footer
        fxFlexFill
        fxFlex="16"
        fxLayout="row"
        fxLayoutAlign="space-around center"
        class="grey"
      >
        <button class="nav-button" (click)="toggleScoreToggle()">
          <h2>Voir les scores</h2>
        </button>
        <button class="nav-button" (click)="leave()">
          <h2>Quitter</h2>
        </button>
      </footer>
      <aside fxFlexFill fxFlex="1" class="orange"></aside>
    </main>
  </ng-template>
</article>

<!------------ NEW ERA -------------->
<article
  fxFlexFill
  class="fade-in-out visual-overlay"
  style="--animation-duration: 1000s; --animation-delay: 0s"
  *ngIf="
    (activePlayer$ | async).isAnimationPlaying &&
    (activePlayer$ | async).animationState === 'newEra'
  "
>
  <section fxFlexFill class="full-opacity"></section>
  <main
    fxFlexFill
    fxLayout="column"
    fxLayoutAlign="start center"
    class="absolute"
    *ngIf="game$ | async as game"
  >
    <section fxFlex="10"></section>
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      fxFlex="30"
      *ngIf="green$ | async as green"
    >
      <div *ngIf="green.speciesIds.length > 1; else greenOneSpecies">
        <section fxFlex="7.5"></section>
        <section
          fxFlex="40"
          class="species relative"
          style="
            --primary-color: {{ green.species[0].colors.primary }};
            --secondary-color: {{ green.species[0].colors.secondary }};
          "
        >
          <mat-icon fxFlexFill svgIcon="hex"></mat-icon>
          <mat-icon
            class="species-icon"
            id="species-title"
            [svgIcon]="green.species[0].abilities[0].id"
          ></mat-icon>
        </section>
        <section fxFlex="5"></section>
        <section
          fxFlex="40"
          class="species relative"
          style="
            --primary-color: {{ green.species[1].colors.primary }};
            --secondary-color: {{ green.species[1].colors.secondary }};
          "
        >
          <mat-icon fxFlexFill svgIcon="hex"></mat-icon>
          <mat-icon
            class="species-icon"
            id="species-title"
            [svgIcon]="green.species[1].abilities[0].id"
          ></mat-icon>
        </section>
      </div>

      <ng-template #greenOneSpecies>
        <section
          fxFlexFill
          class="species relative"
          style="
            --primary-color: {{ green.species[0].colors.primary }};
            --secondary-color: {{ green.species[0].colors.secondary }};
          "
        >
          <mat-icon fxFlexFill svgIcon="hex"></mat-icon>
          <mat-icon
            class="species-icon"
            id="species-title"
            [svgIcon]="green.species[0].abilities[0].id"
          ></mat-icon>
        </section>
      </ng-template>
    </div>

    <section class="banner text-box">
      <ng-container>
        <h2>{{ game.eraCount }}ème ère !</h2>
      </ng-container>
    </section>

    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      fxFlex="30"
      *ngIf="red$ | async as red"
    >
      <div *ngIf="red.speciesIds.length > 1; else redOneSpecies">
        <section fxFlex="7.5"></section>
        <section
          fxFlex="40"
          class="species relative"
          style="
            --primary-color: {{ red.species[0].colors.primary }};
            --secondary-color: {{ red.species[0].colors.secondary }};
          "
        >
          <mat-icon fxFlexFill svgIcon="hex"></mat-icon>
          <mat-icon
            class="species-icon"
            id="species-title"
            [svgIcon]="red.species[0].abilities[0].id"
          ></mat-icon>
        </section>
        <section fxFlex="5"></section>
        <section
          fxFlex="40"
          class="species relative"
          style="
            --primary-color: {{ red.species[1].colors.primary }};
            --secondary-color: {{ red.species[1].colors.secondary }};
          "
        >
          <mat-icon fxFlexFill svgIcon="hex"></mat-icon>
          <mat-icon
            class="species-icon"
            id="species-title"
            [svgIcon]="red.species[1].abilities[0].id"
          ></mat-icon>
        </section>
      </div>

      <ng-template #redOneSpecies>
        <section
          fxFlexFill
          class="species relative"
          style="
            --primary-color: {{ red.species[0].colors.primary }};
            --secondary-color: {{ red.species[0].colors.secondary }};
          "
        >
          <mat-icon fxFlexFill svgIcon="hex"></mat-icon>
          <mat-icon
            class="species-icon"
            id="species-title"
            [svgIcon]="red.species[0].abilities[0].id"
          ></mat-icon>
        </section>
      </ng-template>
    </div>
  </main>
</article>

<!------------ NEW SPECIES -------------->
<article
  fxFlexFill
  *ngIf="
    (activePlayer$ | async).isAnimationPlaying &&
    (activePlayer$ | async).animationState === 'newSpecies'
  "
  class="fade-in-out visual-overlay"
  style="--animation-duration: 1000s; --animation-delay: 0s"
>
  <section fxFlexFill class="opacity"></section>
  <section
    fxFlexFill
    fxLayout="column"
    fxLayoutAlign="center center"
    class="absolute"
  >
    <section>
      <mat-icon fxFlexFill svgIcon="baby"></mat-icon>
    </section>
    <section class="banner text-box">
      <h2>Vous obtenez votre 2ème espèce !</h2>
    </section>
  </section>
</article>
