.full-opacity {
  background-color: white;
  opacity: 1;
}

.opacity {
  background-color: white;
  opacity: 0.8;
}

.medium-opacity {
  background-color: white;
  opacity: 0.5;
}

.low-opacity {
  background-color: white;
  opacity: 0.3;
}
.visual-overlay {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 3;
}

.banner {
  height: fit-content;
}

.top {
  position: fixed;
  z-index: 2;
  height: auto;
  margin-top: 100%;
}

.species {
  max-height: 50%;
  max-width: 80%;
}

.species-icon {
  --species-title-display: none;
  height: 62.5%;
  width: 62.5%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#species-title {
  top: 50%;
  --species-title-display: inherit;
}

.validation-buttons {
  --s: 4rem + 2vmin;
  width: calc(var(--s));
  height: calc(var(--s));
  line-height: calc(var(--s));
  .mat-icon {
    font-size: calc(var(--s));
    width: calc(var(--s));
    height: calc(var(--s));
    line-height: calc(var(--s));
  }
}

#validate {
  position: absolute;
  top: 75%;
  left: 60%;
}

#cancel {
  position: absolute;
  top: 75%;
  left: 15%;
}

.animated {
  animation: opacityOnAndOff 0.5s normal forwards step-end;
}

@keyframes opacityOnAndOff {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

h1 {
  text-shadow: 0 0 0.1em #f59c27;
  font-size: calc(3.5rem + 1.5vmin);
  font-weight: 900;
}

h2 {
  color: #21937d;
  font-size: calc(3rem + 1.5vmin);
  font-weight: 900;
  margin: 0 30px;
}

.star {
  --s: 2rem + 1vmin;
  font-size: calc(var(--s));
  width: calc(var(--s));
  height: calc(var(--s));
  line-height: calc(var(--s));
}

.anima {
  --s: 7rem + 3vmin;
  font-size: calc(var(--s));
  width: calc(var(--s));
  height: calc(var(--s));
  line-height: calc(var(--s));
  span {
    color: white;
    margin-top: 35px;
    font-size: calc(2.5rem + 1vmin);
    line-height: calc(2.5rem + 1vmin);
    font-weight: bold;
  }
}

.center {
  text-align: center;
}

.playerSpecies {
  justify-content: center;
}

.margin {
  margin: 0 2.5%;
}

#winnerSpecies {
  max-height: 90%;
}

.loser {
  margin: 0;
}

#line {
  font-size: calc(2.5rem + 1vmin);
  margin: 0 2% 1% 2%;
}

.red {
  color: #d75b62;
}
