.full-opacity {
  background-color: white;
  opacity: 1;
}

.opacity {
  background-color: white;
  opacity: 0.8;
}

.medium-opacity {
  background-color: white;
  opacity: 0.5;
}

.low-opacity {
  background-color: white;
  opacity: 0.3;
}
.visual-overlay {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 3;
}

.banner {
  height: fit-content;
}

.top {
  position: fixed;
  z-index: 2;
  height: auto;
  margin-top: 100%;
}

.species {
  max-height: 50%;
  max-width: 80%;
}

.species-icon {
  --species-title-display: none;
  height: 62.5%;
  width: 62.5%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#species-title {
  top: 50%;
  --species-title-display: inherit;
}

.validation-buttons {
  --s: 4rem + 2vmin;
  width: calc(var(--s));
  height: calc(var(--s));
  line-height: calc(var(--s));
}

.mat-icon {
  font-size: calc(var(--s));
  width: calc(var(--s));
  height: calc(var(--s));
  line-height: calc(var(--s));
}

#validate {
  position: absolute;
  top: 75%;
  left: 60%;
}

#cancel {
  position: absolute;
  top: 75%;
  left: 15%;
}

h1 {
  text-shadow: 0 0 0.1em #f59c27;
  font-size: calc(3.5rem + 1.5vmin);
  font-weight: 900;
}

.player-name {
  font-size: calc(3rem + 1.5vmin);
  font-weight: 900;
}

.green {
  color: #21937d;
}

.star {
  --s: 2rem + 1vmin;
}

.anima {
  --s: 7rem + 3vmin;
  span {
    color: white;
    margin-top: 35px;
    font-size: calc(2.5rem + 1vmin);
    line-height: calc(2.5rem + 1vmin);
    font-weight: bold;
  }
}

.center {
  text-align: center;
}

.playerSpecies {
  justify-content: center;
}

.margin-aside {
  margin: 0 7.5%;
}

.small-margin-aside {
  margin: 0 2.5%;
}

#winnerSpecies {
  max-height: 90%;
}

.no-margin {
  margin: 0;
}

#line {
  font-size: calc(2.5rem + 1vmin);
  margin: 0 2% 1% 2%;
}

.red {
  color: #d75b62;
}

.grey {
  background-color: rgba(242, 242, 242, 0.6);
}

.click-through {
  pointer-events: none;
}

.baby {
  --s: 80%;
}

.orange-border {
  height: 55% !important;
  border: 0.4rem solid var(--anima-color);
  background-color: white;
  padding-top: 3%;
}

.score {
  font-size: calc(2.5rem + 1.5vmin);
  font-weight: 700;
}

#score-line {
  font-size: calc(1.5rem + 1vmin);
  margin: 0 2% -2% 2%;
}

.anima-empty {
  --s: 6rem + 3vmin;
  margin-top: 2%;
  span {
    margin-top: 35px;
    font-size: calc(2rem + 1vmin);
    line-height: calc(2rem + 1vmin);
    font-weight: bold;
  }
}

// @keyframes duration | easing-function | delay | direction | fill-mode | name
.quickly-slide-in-out {
  animation: var(--animation-duration) linear forwards slideIn,
    var(--animation-duration) linear var(--animation-delay) reverse forwards
      slideIn;
}

.slide-in-out {
  animation: var(--animation-duration) ease-in forwards slideIn,
    var(--animation-duration) ease-out var(--animation-delay) reverse forwards
      slideIn;
}

.delayed-slide-in {
  opacity: 0;
  animation: var(--animation-duration) ease-in var(--animation-delay) forwards
    slideIn;
}

// ANIMATIONS
@keyframes slideIn {
  from {
    pointer-events: none;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
