<div class="container">
  <ol class="even">
    <li class="hex ⬜"></li>
    <li class="hex ⬜"></li>
    <li class="hex ⬜"></li>
    <li class="hex ⬜"></li>
    <li class="hex ⬜"></li>
    <li class="hex ⬜"></li>
  </ol>
  <ol class="odd">
    <li class="hex ⬜"></li>
    <li class="hex ⬜"></li>
    <li class="hex ⬜"></li>
    <li class="hex ⬜"></li>
    <li class="hex ⬜"></li>
    <li class="hex 🏝️"></li>
  </ol>
  <ol class="even">
    <li class="hex ⬜"></li>
    <li class="hex 🪨"></li>
    <li class="hex 🪨"></li>
    <li class="hex ⬜"></li>
    <li class="hex 🏝️"></li>
    <li class="hex 🏝️"></li>
  </ol>
  <ol class="odd">
    <li class="hex ⬜"></li>
    <li class="hex 🪨"></li>
    <li class="hex ⬜"></li>
    <li class="hex 🪨"></li>
    <li class="hex ⬜"></li>
    <li class="hex ⬜"></li>
  </ol>
  <ol class="even">
    <li class="hex 🪨"></li>
    <li class="hex 🪨"></li>
    <li class="hex ⛰️"></li>
    <li class="hex ⛰️"></li>
    <li class="hex 🟣"></li>
    <li class="hex 🟣"></li>
  </ol>
  <ol class="odd">
    <li class="hex ⬜"></li>
    <li class="hex 🌳"></li>
    <li class="hex ⛰️"></li>
    <li class="hex ⛰️"></li>
    <li class="hex ⛰️"></li>
    <li class="hex 🟣"></li>
  </ol>
  <ol class="even">
    <li class="hex 🌳"></li>
    <li class="hex 🌳"></li>
    <li class="hex ⛰️"></li>
    <li class="hex ⛰️"></li>
    <li class="hex 🟣"></li>
    <li class="hex 🟣"></li>
  </ol>
  <ol class="odd">
    <li class="hex 🌳"></li>
    <li class="hex 🌳"></li>
    <li class="hex 🟨"></li>
    <li class="hex 🟨"></li>
    <li class="hex 🟨"></li>
    <li class="hex 🟣"></li>
  </ol>
  <ol class="even">
    <li class="hex 🌳"></li>
    <li class="hex ⬜"></li>
    <li class="hex 🟨"></li>
    <li class="hex 🟨"></li>
    <li class="hex 🟨"></li>
    <li class="hex ⬜"></li>
  </ol>
  <ol class="odd">
    <li class="hex 🌳"></li>
    <li class="hex 🌳"></li>
    <li class="hex ⬜"></li>
    <li class="hex 🟨"></li>
    <li class="hex 🟨"></li>
    <li class="hex ⬜"></li>
  </ol>
  <ol class="even">
    <li class="hex ⬜"></li>
    <li class="hex ⬜"></li>
    <li class="hex ⬜"></li>
    <li class="hex 🟨"></li>
    <li class="hex ⬜"></li>
    <li class="hex ⬜"></li>
  </ol>
</div>
