<div class="main">
  <div class="container">
    <!-- 1 -->
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>

    <!-- 2 -->
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>

    <!-- 3 -->
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🏝️"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>

    <!-- 4 -->
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🪨"></div>
    <div class="hex 🪨"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🏝️"></div>
    <div class="hex 🏝️"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>

    <!-- 5 -->
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🪨"></div>
    <div class="hex 🪨"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🪨"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>

    <!-- 6 -->
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🪨"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⛰️"></div>
    <div class="hex ⛰️"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>

    <!-- 7 -->
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🌳"></div>
    <div class="hex ⛰️"></div>
    <div class="hex ⛰️"></div>
    <div class="hex ⛰️"></div>
    <div class="hex 🟣"></div>
    <div class="hex 🟣"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>

    <!-- 8 -->
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🌳"></div>
    <div class="hex 🌳"></div>
    <div class="hex 🌳"></div>
    <div class="hex ⛰️"></div>
    <div class="hex ⛰️"></div>
    <div class="hex 🟣"></div>
    <div class="hex 🟣"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>

    <!-- 9 -->
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🌳"></div>
    <div class="hex 🌳"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🟨"></div>
    <div class="hex 🟨"></div>
    <div class="hex 🟨"></div>
    <div class="hex 🟣"></div>
    <div class="hex 🟣"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>

    <!-- 10 -->
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🌳"></div>
    <div class="hex 🌳"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🟨"></div>
    <div class="hex 🟨"></div>
    <div class="hex 🟨"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>

    <!-- 11 -->
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🟨"></div>
    <div class="hex 🟨"></div>
    <div class="hex 🟨"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>

    <!-- 12 -->
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>

    <!-- 13 -->
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>

  </div>
</div>
<!--
<div class="container">
  <ol class="even">
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
  </ol>
  <ol class="odd">
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🏝️"></div>
  </ol>
  <ol class="even">
    <div class="hex ⬜"></div>
    <div class="hex 🪨"></div>
    <div class="hex 🪨"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🏝️"></div>
    <div class="hex 🏝️"></div>
  </ol>
  <ol class="odd">
    <div class="hex ⬜"></div>
    <div class="hex 🪨"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🪨"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
  </ol>
  <ol class="even">
    <div class="hex 🪨"></div>
    <div class="hex 🪨"></div>
    <div class="hex ⛰️"></div>
    <div class="hex ⛰️"></div>
    <div class="hex 🟣"></div>
    <div class="hex 🟣"></div>
  </ol>
  <ol class="odd">
    <div class="hex ⬜"></div>
    <div class="hex 🌳"></div>
    <div class="hex ⛰️"></div>
    <div class="hex ⛰️"></div>
    <div class="hex ⛰️"></div>
    <div class="hex 🟣"></div>
  </ol>
  <ol class="even">
    <div class="hex 🌳"></div>
    <div class="hex 🌳"></div>
    <div class="hex ⛰️"></div>
    <div class="hex ⛰️"></div>
    <div class="hex 🟣"></div>
    <div class="hex 🟣"></div>
  </ol>
  <ol class="odd">
    <div class="hex 🌳"></div>
    <div class="hex 🌳"></div>
    <div class="hex 🟨"></div>
    <div class="hex 🟨"></div>
    <div class="hex 🟨"></div>
    <div class="hex 🟣"></div>
  </ol>
  <ol class="even">
    <div class="hex 🌳"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🟨"></div>
    <div class="hex 🟨"></div>
    <div class="hex 🟨"></div>
    <div class="hex ⬜"></div>
  </ol>
  <ol class="odd">
    <div class="hex 🌳"></div>
    <div class="hex 🌳"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🟨"></div>
    <div class="hex 🟨"></div>
    <div class="hex ⬜"></div>
  </ol>
  <ol class="even">
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
    <div class="hex 🟨"></div>
    <div class="hex ⬜"></div>
    <div class="hex ⬜"></div>
  </ol>
</div>
 -->
