<div class="main">
  <div class="container">
    <!-- 1 -->
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>

    <!-- 2 -->
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>

    <!-- 3 -->
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="🏝️"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>

    <!-- 4 -->
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="🪨"></div>
    <div class="🪨"></div>
    <div class="⬜"></div>
    <div class="🏝️"></div>
    <div class="🏝️"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>

    <!-- 5 -->
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="🪨"></div>
    <div class="🪨"></div>
    <div class="⬜"></div>
    <div class="🪨"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>

    <!-- 6 -->
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="🪨"></div>
    <div class="⬜"></div>
    <div class="⛰️"></div>
    <div class="⛰️"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>

    <!-- 7 -->
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="🌳"></div>
    <div class="⛰️"></div>
    <div class="⛰️"></div>
    <div class="⛰️"></div>
    <div class="🟣"></div>
    <div class="🟣"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>

    <!-- 8 -->
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="🌳"></div>
    <div class="🌳"></div>
    <div class="🌳"></div>
    <div class="⛰️"></div>
    <div class="⛰️"></div>
    <div class="🟣"></div>
    <div class="🟣"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>

    <!-- 9 -->
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="🌳"></div>
    <div class="🌳"></div>
    <div class="⬜"></div>
    <div class="🟨"></div>
    <div class="🟨"></div>
    <div class="🟨"></div>
    <div class="🟣"></div>
    <div class="🟣"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>

    <!-- 10 -->
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="🌳"></div>
    <div class="🌳"></div>
    <div class="⬜"></div>
    <div class="🟨"></div>
    <div class="🟨"></div>
    <div class="🟨"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>

    <!-- 11 -->
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="🟨"></div>
    <div class="🟨"></div>
    <div class="🟨"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>

    <!-- 12 -->
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>

    <!-- 13 -->
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>
    <div class="⬜"></div>

  </div>
</div>
