:root {
  --anima-color: #f59c27;
  --islands-color: #dddeee;
  --rockies-color: #fee0b8;
  --mountains-color: #fcdcd8;
  --forests-color: #b5e4f3;
  --swamps-color: #dae8b6;
  --plains-color: #fdeda9;
}
