.text-box {
  background-color: rgba(242, 242, 242, 0.6);
  padding-left: 5%;
  padding-right: 5%;
}

.orange {
  background-color: orange;
}

.mat-icon-button {
  --s: 3rem + 2.5vmin;
  width: calc(var(--s));
  height: calc(var(--s));
  line-height: calc(var(--s));

  .mat-icon {
    font-size: calc(var(--s));
    width: calc(var(--s));
    height: calc(var(--s));
    line-height: calc(var(--s));
  }
}

::ng-deep .adaptation-menu > mat-dialog-container {
  background: transparent;
  box-shadow: none;
  height: 97%;
}

::ng-deep .cdk-overlay-pane.adaptation-menu {
  height: 90%;
}

::ng-deep .cdk-overlay-dark-backdrop {
  background: rgba(255, 255, 255, 0.75);
}

::ng-deep .cdk-overlay-container,
.cdk-global-overlay-wrapper {
  height: 97%;
}
