<div fxFlexFill fxLayout="column" fxLayoutAlign="start center">
  <div
    class="text-box"
    fxFlexFill
    fxFlex="95"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <button mat-icon-button>
      <mat-icon svgIcon="migrate" inline="true"></mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon svgIcon="assimilate" inline="true"></mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon svgIcon="proliferate" inline="true"></mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon svgIcon="natural-selection" inline="true"></mat-icon>
    </button>
  </div>
  <div fxFlexFill fxFlex="5" class="orange"></div>
</div>
