.mat-icon-button {
  --s: 3rem + 2.5vmin;
  width: calc(var(--s));
  height: calc(var(--s));
  line-height: calc(var(--s));

  .mat-icon {
    font-size: calc(var(--s));
    width: calc(var(--s));
    height: calc(var(--s));
    line-height: calc(var(--s));
  }
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #f59c27;
  bottom: 0;
  right: -20%;
  bottom: -25%;
  border-radius: 50%;
  border: solid white 3px;
}

.figures {
  margin-top: 3px;
  color: white;
  font-size: calc(1rem + 1vmin);
  font-weight: 600;
  line-height: 16px;
}

#stop-migration {
  --s: 1.5rem + 2vmin;
  width: calc(var(--s));
  height: calc(var(--s));
  line-height: calc(var(--s));
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  .mat-icon {
    font-size: calc(var(--s));
    width: calc(var(--s));
    height: calc(var(--s));
    line-height: calc(var(--s));
  }
}
