<div fxFlexFill fxLayout="row" fxLayoutAlign="start center">
  <main
    fxFlex="55"
    class="container relative"
  >
    <div
      class="active species absolute"
      style="--img: url(/assets/active-specie.png)"
    ></div>
    <div
      class="small-text-box absolute"
      fxLayout="row"
      fxLayoutAlign="space-between"
    >
      <div fxFlex="35"></div>
      <div
        fxFlex="18"
        class="species"
        style="--img: url(/assets/ability-1.png)"
      ></div>
      <div
        fxFlex="18"
        class="species"
        style="--img: url(/assets/ability-2.png)"
      ></div>
      <div
        fxFlex="18"
        class="species"
        style="--img: url(/assets/ability-3.png)"
      ></div>
    </div>
  </main>
</div>
