<button mat-icon-button id="close-button" (click)="close()">
  <mat-icon id="close-icon" svgIcon="close"></mat-icon>
</button>
<main fxFlexFill fxLayout="column" fxLayoutAlign="start center">
  <article
    fxFlex="20"
    class="relative"
    fxFlexFill
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <div
      fxFlex="25"
      class="active species absolute"
      style="--img: url(/assets/active-specie.png)"
    ></div>
    <div
      class="box absolute"
      fxLayout="row"
      fxLayoutAlign="space-around"
      fxFlex="75"
    >
      <div
        fxFlex="18"
        class="species"
        style="--img: url(/assets/ability-1.png)"
      ></div>
      <div
        fxFlex="18"
        class="species"
        style="--img: url(/assets/ability-2.png)"
      ></div>
      <div
        fxFlex="18"
        class="species"
        style="--img: url(/assets/ability-3.png)"
      ></div>
    </div>
  </article>
</main>
