main {
  background-color: white;
}

article {
  width: 90%;
}

.abilities {
  background-image: var(--img);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 10px;
}

.box {
  background-color: #f2f2f2;
  border: 3px #f59c27 solid;
  height: 50%;
  width: 100%;
  margin-left: 39.5%;
}

aside {
  margin-top: 4%;
  border-top: 4px #f59c27 solid;
  background-image: url("../../../../assets/background-flame.png");
  background-position: center;
  background-size: 25%;
  background-repeat: no-repeat;
}

.no-padding-width {
  width: calc(100% + 48px) !important;
}

#title-icon {
  --s: 1rem + 2.5vmin;
  font-size: calc(var(--s));
  width: calc(var(--s));
  height: calc(var(--s));
  line-height: calc(var(--s));
}
