main {
  background-color: white;
}

section {
  overflow: hidden;
  overflow-y: scroll;
}

article {
  width: 90%;
}

article:nth-child(1) {
  margin-top: 12px;
}

.species {
  display: flex;
  height: 100%;
  width: auto;
}

.inactive {
  --ability-active-display: none;
}

.active {
  --ability-active-display: inherit;
}

#species-icon {
  --species-title-display: none;
  height: 70%;
  width: 70%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.circle {
  width: 45px;
  height: 45px;
  background-color: var(--anima-color);
  bottom: -5%;
  right: -25%;
  border-radius: 50%;
  border: solid white 3px;
}

.figures {
  margin-top: 7px;
  color: white;
  font-size: calc(1.85rem + 1vmin);
  font-weight: 600;
  line-height: 16px;
}

.ability .mat-icon {
  --s: 2.5rem;
  font-size: calc(var(--s));
  width: calc(var(--s));
  height: calc(var(--s));
  line-height: calc(var(--s));
}

.box {
  background-color: #f2f2f2;
  border: 3px var(--anima-color) solid;
  height: 50%;
  width: 100%;
  padding-left: 5%;
}

aside {
  margin-top: 4%;
  border-top: 4px var(--anima-color) solid;
  background-image: url("../../../../assets/background-flame.png");
  background-position: center;
  background-size: 25%;
  background-repeat: no-repeat;
}

.no-padding-width {
  width: calc(100% + 48px) !important;
}

#title-icon {
  --ability-active-display: none;
}

.margin-top {
  margin-top: 24px;
}
