main {
  background-image: url("../../../assets/background-flame.png");
  background-position: center;
  background-size: 25%;
  background-repeat: no-repeat;
}

section {
  height: auto;
}

#hourglass {
  width: 50%;
  height: 20%;
}
