.mat-icon-button {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
}

.mat-icon {
  font-size: calc(2rem + 6vmin);
  width: calc(2rem + 6vmin);
  height: calc(2rem + 6vmin);
  line-height: calc(2rem + 6vmin);
}
