<div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
  <header fxFlex="10" class="text-box">
    <ng-container *ngIf="activePlayer$ | async as activePlayer">
      <div
        *ngIf="
          activePlayer.species[activePlayer.species.length - 1].abilities
            .length > 0
        "
      >
        <h2>Choisissez un <br />nouveau trait</h2>
      </div>
      <div
        *ngIf="
          activePlayer.species[activePlayer.species.length - 1].abilities
            .length === 0
        "
      >
        <h2>Choisissez le trait<br />de votre nouvelle espèce</h2>
      </div>
    </ng-container>
  </header>
  <!---------------- ABILITIES -------------->
  <main fxFlex="35" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <article
      *ngFor="let ability of abilityChoices$ | async; let i = index"
      fxFlex="45"
      [ngClass]="{ parentGlow: ability === activeAbility }"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <button
        class="ability-button"
        mat-icon-button
        (click)="activate(i)"
        [ngClass]="{ glow: ability === activeAbility }"
        style="
        --primary-color: {{ getActivePlayerSpeciesColors().primary }};
        --secondary-color: {{ getActivePlayerSpeciesColors().secondary }}"
      >
        <mat-icon fxFlexFill svgIcon="hex"></mat-icon>
        <mat-icon id="species-icon" [svgIcon]="ability.id"></mat-icon>
      </button>
    </article>
  </main>
  <!---------------- DESCRIPTION -------------->
  <aside fxFlex="40" class="relative">
    <textarea readonly wrap="hard" rows="3" cols="25">{{
      activeAbility ? activeAbility.fr.definition : ""
    }}</textarea>
    <button *ngIf="!!!activeAbility" mat-icon-button id="validate-button">
      <mat-icon id="validate-icon" svgIcon="validate-disable"></mat-icon>
    </button>
    <button
      *ngIf="!!activeAbility"
      mat-icon-button
      id="validate-button"
      (click)="validate()"
    >
      <mat-icon id="validate-icon" svgIcon="validate"></mat-icon>
    </button>
  </aside>
  <!---------------- ORANGE BAR -------------->
  <div fxFlex="9"></div>
  <footer fxFlex="1" fxFlexFill class="orange"></footer>
</div>
