<div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
  <header fxFlex="10" class="text-box">
    <h2>Choisissez un <br />nouveau trait</h2>
  </header>
  <main
    *ngIf="abilityChoices$ | async as abilities"
    fxFlex="35"
    fxFlexFill
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <article
      fxFlex="45"
      [ngClass]="{ parentGlow: abilities[0] === activeAbility }"
    >
      <button
        class="hex"
        mat-button
        fxLayout="row"
        fxLayoutAlign="center center"
        (click)="activate(0)"
        [ngClass]="{ glow: abilities[0] === activeAbility }"
      >
        <div class="species" style="--img: url(/assets/vol.png)"></div>
        <h4>{{ abilities[0].fr.name }}</h4>
      </button>
    </article>
    <article
      fxFlex="45"
      [ngClass]="{ parentGlow: abilities[1] === activeAbility }"
    >
      <button
        class="hex"
        mat-button
        (click)="activate(1)"
        [ngClass]="{ glow: abilities[1] === activeAbility }"
      >
        <div class="species" style="--img: url(/assets/vol.png)"></div>
        <h4>{{ abilities[1].fr.name }}</h4>
      </button>
    </article>
  </main>
  <aside fxFlex="40" class="relative">
    <textarea readonly wrap="hard" rows="3" cols="25">{{
      activeAbility ? activeAbility.fr.definition : ""
    }}</textarea>
    <button *ngIf="!!!activeAbility" mat-icon-button id="validate-button">
      <mat-icon id="validate-icon" svgIcon="blank"></mat-icon>
    </button>
    <button
      *ngIf="!!activeAbility"
      mat-icon-button
      id="validate-button"
      (click)="close()"
    >
      <mat-icon id="validate-icon" svgIcon="validate"></mat-icon>
    </button>
  </aside>
  <div fxFlex="9"></div>
  <footer fxFlex="1" fxFlexFill class="orange"></footer>
</div>
