$anima-color: #f59c27;

html,
body {
  margin: 0;
  height: 100%;
  touch-action: none;
}
body,
h1,
h2,
h3,
h4,
p,
span {
  font-family: "Grandstander", "Helvetica Neue", sans-serif;
}

h1 {
  color: $anima-color;
  font-size: calc(2rem + 6vmin);
  margin: 0;
}

h2 {
  color: white;
  font-size: calc(1rem + 1.5vmin);
}

h3 {
  color: white;
  margin: 0;
  font-size: calc(0.8rem + 0.5vmin);
}

p,
textarea {
  color: $anima-color;
  font-size: calc(1rem + 1vmin);
  font-weight: 600;
  line-height: 16px;
}

textarea {
  text-align: center;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  border-radius: 0;
  height: 90%;
  width: 90%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.orange {
  background-color: $anima-color;
}

.custom-container .mat-dialog-container {
  border: 4px $anima-color solid;
  border-radius: 0px;
}

.no-padding-bottom .mat-dialog-container {
  padding: 12px 12px 0px 12px;
  overflow: hidden;
}

.transparent-menu .mat-dialog-container {
  background: transparent;
  box-shadow: none;
  padding: 0;
}

.cdk-overlay-pane.transparent-menu {
  max-width: 100% !important;
}

.transparent-backdrop {
  background: rgba(255, 255, 255, 0.75);
}
.cdk-overlay-pane.custom-container {
  position: relative !important;
}

.nav-button {
  background-color: #2984a0;
  border-left: 20px #2984a0 solid;
  border-right: 20px #2984a0 solid;
  border-top: none;
  border-bottom: none;
  border-radius: 30px;
  white-space: nowrap;
}

#close-button {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
  width: calc(2rem + 6vmin);
  height: calc(2rem + 6vmin);
}

#close-icon {
  font-size: calc(2rem + 6vmin);
  width: calc(2rem + 6vmin);
  height: calc(2rem + 6vmin);
  line-height: calc(2rem + 6vmin);
}

.margin-top-2 {
  margin-top: 2%;
}

.orange-snackbar {
  background: $anima-color;
  text-align: center;
  color: white;
  font-weight: 600;
  border-radius: 30px !important;
  width: 200px !important;
  height: 80px !important;
  position: absolute;
  top: 20%;
  left: 20%;
}

snack-bar-container > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orange-snackbar .mat-simple-snackbar {
  font-size: calc(1rem + 1.5vmin);
}

.sidebar {
  background-color: rgba(242, 242, 242, 0.6);
  padding-left: 5%;
  padding-right: 5%;
}

.text-box {
  height: 50%;
  width: 80%;
  line-height: 25px;
  background-color: #2984a0;
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
