$anima-color: #f59c27;

html,
body {
  margin: 0;
  height: 100%;
  touch-action: none;
}
body,
h1,
h2,
h3,
h4,
p,
span {
  font-family: Grandstander, "Helvetica Neue", sans-serif;
}

h1 {
  color: $anima-color;
  font-size: calc(2rem + 6vmin);
  margin: 0;
}

h2 {
  color: white;
  font-size: calc(1rem + 2vmin);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.orange {
  background-color: $anima-color;
}

.custom-container .mat-dialog-container {
  border: 4px $anima-color solid;
  border-radius: 0px;
}

.cdk-overlay-pane.custom-container {
  position: relative !important;
}
