html,
body {
  margin: 0;
  height: 100%;
  touch-action: none;
}
body,
h1,
h2,
h3,
h4,
p,
span {
  font-family: Grandstander, "Helvetica Neue", sans-serif;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.orange {
  background-color: orange;
}
