.text-box {
  height: 50%;
  width: 80%;
  line-height: 25px;
  background-color: #2984a0;
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  --s: 42vw;
  --m: 1.5vw;
  --r: calc(var(--s) * 3 * 1.1547 / 2 + 4 * var(--m) - 2px);
  display: flex;
}

.hex {
  width: var(--s);
  height: calc(var(--s) * 1.1547);
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background-image: url("/assets/hexa-menu.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.parentGlow {
  filter: drop-shadow(0 0 1rem #f59c27);
}

.glow {
  border: 0.1rem solid #f59c27;
  background-color: #f59c27;
}

.species {
  background-image: var(--img);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: calc(1rem + 7vh);
}

aside {
  min-height: 80px;
  height: 20%;
  margin-top: 5%;
  background-color: white;
  border: 6px #f59c27 solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

#validate-button {
  position: absolute;
  bottom: 0;
  transform: translate(-100%, -40%);
}

#validate-icon {
  font-size: calc(2rem + 10vh);
  width: calc(2rem + 10vh);
  height: calc(2rem + 10vh);
  line-height: calc(2rem + 10vh);
}
