<div fxFlexFill>
  <div class="text-box">
    <h1>Choisissez un <br />nouveau trait</h1>
  </div>
  <div class="main">
    <div class="container">
      <div [ngClass]="{ parentGlow: abilities[0].isActive }">
        <button
          class="hex"
          mat-button
          fxLayout="row"
          fxLayoutAlign="center center"
          (click)="activate(0)"
          [ngClass]="{ glow: abilities[0].isActive }"
        >
          <div class="species" style="--img: url(/assets/vol.png)"></div>
          <h3>{{ abilities[0].name }}</h3>
        </button>
      </div>
      <span [ngClass]="{ parentGlow: abilities[1].isActive }">
        <button
          class="hex"
          mat-button
          (click)="activate(1)"
          [ngClass]="{ glow: abilities[1].isActive }"
        >
          <div class="species" style="--img: url(/assets/vol.png)"></div>
          <h3>{{ abilities[1].name }}</h3>
        </button>
      </span>
      <span [ngClass]="{ parentGlow: abilities[2].isActive }">
        <button
          class="hex"
          mat-button
          (click)="activate(2)"
          [ngClass]="{ glow: abilities[2].isActive }"
        >
          <div class="species" style="--img: url(/assets/vol.png)"></div>
          <h3>{{ abilities[2].name }}</h3>
        </button>
      </span>
    </div>
  </div>
  <div *ngFor="let ability of abilities">
    <div *ngIf="ability.isActive" class="definition-box">
      <textarea readonly wrap="hard" rows="3" cols="25">{{
        ability.definition
      }}</textarea>
    </div>
  </div>
</div>
