<div fxFlexFill>
  <div class="text-box">
    <h1>Choisissez un <br />nouveau trait</h1>
  </div>
  <div class="main">
    <div class="container">
      <button mat-button fxLayout="row" fxLayoutAlign="center center">
        <div class="species" style="--img: url(/assets/vol.png)"></div>
        <h3>Intimidation</h3>
      </button>
      <button mat-button>
        <div class="species" style="--img: url(/assets/vol.png)"></div>
        <h3>Gigantisme</h3>
      </button>
      <button mat-button>
        <div class="species" style="--img: url(/assets/vol.png)"></div>
        <h3>Vol</h3>
      </button>
    </div>
  </div>
</div>
