.text-box {
  width: 100%;
  color: white;
  font-size: 10px;
  font-weight: bold;
  line-height: 25px;
  background-color: #2984a0;
  margin-bottom: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

h3 {
  text-decoration: none;
  margin: 0;
}
button {
  margin-top: 0px !important;
  margin-left: 0px !important;
}

.main {
  --s: 30vw;
  --m: 1.5vw;
  --r: calc(var(--s) * 3 * 1.1547 / 2 + 4 * var(--m) - 2px);
  display: flex;
}

.container {
  /*   -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg); */
}
.container button {
  width: var(--s);
  height: calc(var(--s) * 1.1547);
  margin: var(--m);
  display: inline-block;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
  background-image: url("/assets/hexa-menu.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.container::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 100%;
  shape-outside: repeating-linear-gradient(
    transparent 0 calc(var(--r) - 3px),
    #fff 0 var(--r)
  );
}
