<section
  fxLayout="row"
  fxLayoutAlign="end start"
  style="--padding-value: {{
    5 * (5 / (activeAbilityNumber$ | async))
  }}%; --margin-value: {{ 30 / (activeAbilityNumber$ | async) }}%"
>
  <button
    *ngIf="canActiveAbility$ | async"
    (click)="startMigration()"
    mat-icon-button
  >
    <mat-icon svgIcon="adaptation"></mat-icon>
  </button>
  <button
    *ngIf="!(canActiveAbility$ | async)"
    mat-icon-button
    style="--width-value: {{ 100 / (activeAbilityNumber$ | async) }}%"
  >
    <mat-icon svgIcon="adaptation-disable"></mat-icon>
  </button>
  <button
    *ngIf="!(canActiveAbility$ | async)"
    mat-icon-button
    style="--width-value: {{ 100 / (activeAbilityNumber$ | async) }}%"
  >
    <mat-icon svgIcon="migrate-disable"></mat-icon>
  </button>

  <button
    *ngIf="!(canActiveAbility$ | async)"
    mat-icon-button
    style="--width-value: {{ 100 / (activeAbilityNumber$ | async) }}%"
  >
    <mat-icon svgIcon="migrate-disable"></mat-icon>
  </button>
</section>
