section {
  margin-top: var(--padding-value);
  padding-right: var(--padding-value);
}

.mat-icon-button {
  width: var(--width-value);
  height: 100%;
  .mat-icon {
    position: relative;
    width: 140%;
    height: 100%;
    left: -20%;
  }
}
