<section
  fxLayout="row"
  fxLayoutAlign="end start"
  style="--padding-value: {{
    15 / (activeAbilityNumber$ | async)
  }}%; --margin-value: {{ 30 / (activeAbilityNumber$ | async) }}%"
>
  <article *ngFor="let ability of activeAbilities$ | async">
    <button
      (click)="activeAbility(ability.id)"
      mat-icon-button
      [ngClass]="{
        active: canActiveAbility$(ability.id) | async,
        disabled: !(canActiveAbility$(ability.id) | async)
      }"
      [disabled]="!(canActiveAbility$(ability.id) | async)"
    >
      <mat-icon [svgIcon]="ability.id + '-ability'"></mat-icon>
    </button>
  </article>
</section>
